header
    section.header
        div.header__logo
            img(src="public/img/logo.png" alt="logo")
        div.header__title
            span Beer
        div.header__slogan Now there's a temporary solution.
        div.header__publish Dan Castellaneta
        div.header__view-more 
            span Schroll to view more
            i.fa-solid.fa-chevron-down