extend layout

block main
    div.container
        section.content
            div.content-top
                div.content-top1
                    div.content-top1__text
                        +ad_content(`The joy of brewing`, `We develop recipes, imported raw materials, experiment, 
                        and spills brew beer in the friendly breweries.`)
                    div.content-top1__photo
                        img(src="public/img/content-top-photo.png" alt="top-photo")
                div.content-top2
                    div.content-top2__bg
                    div.content-top2__text
                        +ad_content(`Zeus - Original Quality`,
                        `This fancy beer in the style of American India Pale Ale. Red-copper-bodied, with 
                        citrus flavor and aroma, floral, resin, pine and fruit derived from American hops.`)
                        div.btn.check-more Check more
                    div.content-top2__beer
                        img(src="public/img/Beer.png" alt="top-photo")
            div.content-middle
                h2 Lorem ipsum
                h2 dolor sit amet
            div.content-bot
                div.content-bot__text
                    +ad_content(`Handcraft quality`,
                        `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel ornare dui, a 
                        sodales massa. Donec ut gravida enim, non vestibulum magna. Mauris libero sapien, faucibus 
                        vel odio non, bibendum facilisis eros. Pellentesque eget orci congue, tempor augue ultrices, 
                        pellentesque libero.`,
                        `Morbi commodo, lectus ac vulputate pharetra, libero elit aliquet tortor, ac imperdiet tortor 
                        nibh eu nunc.`)
                div.content-bot__photo
                    img(src="public/img/bot-photo.png" alt="bot-photo")
            div.start
                h1.title Start your journey now
                p.des Beer, now there’s a temporary solution
                div.btn ORDER ZEUS
                div.start-photo
                    img(src="public/img/start-photo.png" alt="start-photo")


